body {
    font-family: Arial, sans-serif;
    background-color: hsla(171, 90%, 52%, 0.355);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.tabelas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabelas th, .tabelas td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabelas th {
    background-color: #e7e7e7;
}

#disco, #memoriaMain, #sequenciaRequisicoes, #erros {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
